div{
    border: 1px solid blue;
    background-color: lightblue;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    text-align: center;
    font-size: 20px;
}

.invisible{
    border: none;
    background-color: white;
}

.div-Contenido{
    height: 250px;
}

.div-medio-contenido{
    height: 120px;
}

.div-grid{
    display: grid;
    grid-column: 1;
}

.inline-block{
    display: inline-block;
}

.centrado{
    margin-left: auto;
    margin-right: auto;
}

html{
    height: 100%;
}